$sprite: "../images";



@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');


$font-family-base: 'PT Sans', sans-serif;
$link-color: #010101;

body {
    font-family: $font-family-base;
}

h1, h3 {
    font-weight: bold;
}

h2 {
    color: #fcdb00;
}

h3, h4 {
    margin-bottom: 20px;
}

a {
    color: $link-color;
    font-weight: bold;
    &:hover {
        text-decoration: none;
        color: $link-color;
        opacity: 0.7;
    }
}

header {
    background-color: #fcdb00;
    padding-bottom: 70px;
    margin-bottom: 100px;
    .logo {
        width: 43px;
        height: 43px;
    }
    h1 {
        @media (max-width: 320px) {
            text-align: center;
        }
    }
    .mar-bot-100 {
        margin-bottom: 100px;
    }
    .navbar {
        padding-right: 0;
    }
    
    .navbar-light .navbar-toggler {
        border: none;
        padding: 0;
    }
    .carousel {
        padding-bottom: 70px;
    }
}

.tablet-logo {
    top: 40%;
    left: 33%;
    h2 {
        margin-left: 50px;
    }
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.icon {
    background-image: url(#{$sprite}/sprite-icons.png);
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    cursor: pointer;
    float: left;
}

.icon-tablet {
    background-position: 4px 0px;
}

.icon-lemon {
    background-position: -45px -2px;
}

.icon-folder {
    background-position: -3px -54px;
}

.icon-slash {
    background-position: -63px -54px;
}

.icon-email {
    background-position: -100px 1px;
}

.icon-flat {
    background-position: -116px -50px;
}

.main-content {
    margin-bottom: 100px;
}

footer {
    background-color: #010101;
    h3 {
        color: #fcdb00;
        margin-top: 100px;
    }
    h4 {
        color: #898989;
    }
    p {
        color: #ffffff;
    }
    a {
        color: #ffffff;
        font-weight: normal;
        &:hover {
            color: #ffffff;
        }
    }
    
    form {
        margin-top: 50px;
        margin-bottom: 50px;
        input[type="email"] {
            width: 75%;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            margin-right: 10px;
            @media (max-width: 767px) {
                margin-right: 0;
                margin-bottom: 10px;
            }
            @media (max-width: 350px) {
                width: 100%;
            }
        }
        input[type="submit"] {
            width: 13%;
            background-color: #fbdb00;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-weight: bold;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
            @media (max-width: 767px) {
                width: 30%;
            }
            @media (max-width: 360px) {
                width: 40%;
            }
        }
    }
    svg {
        background-color: #fcdb00;
        border-radius: 5px;
    }
}